{% extends 'index.html' %}

{% block title %}All Quizzes - BrainBunny{% endblock title %}

{% block content %}

	<h1 class="display-4 text-center my-5">All Quizzes</h1>


	<div class="container">
		<div class="d-flex flex-wrap">
			<a href="{% url 'all_quiz' %}" class="btn btn-sm btn-light m-1">All Quiz</a>
			{% for category in categories %}
			<a href="{% url 'search' category.name %}" class="btn btn-sm btn-light m-1">{{category.name}}</a>
			{% endfor %}
		</div>
	</div>

	<form class="container d-flex my-4" role="search" method="get" action="{% url 'search' ' ' %}" >
		<input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		<a href="#" type="submit" class="btn btn-primary ms-2">Search</a>
	</form>

	<div class="container">

		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
			{% if quizzes|length > 0 %}
			{% for quiz in quizzes %}
			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<h4>{{quiz.title}}</h4>
						<p class="card-text">Total Questions - {{quiz.question_set.all|length}}</p>
						<p class="card-text">{{quiz.description|truncatewords:7}}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="{% url 'quiz_view' quiz_id=quiz.id %}" class="btn btn-sm btn-outline-success">Start Quiz</a>
							</div>
							<small class="text-body-secondary">{{quiz.created_at|timesince}} ago</small>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="col-lg-12 col-md-12 col-12">
				<p class="text-center text-danger fs-5">There is no quiz available for this category or search.</p>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
	    <div class="col">
	        <div class="card shadow-sm">
	            <div class="card-body">
	                <h4>Newton Quiz</h4>
	                <p class="card-text">Total Questions - 10</p>
	                <p class="card-text">Test your knowledge of Newton's Laws!</p>
	                <div class="d-flex justify-content-between align-items-center">
	                    <div class="btn-group">
	                        <a href="/quiz/1/" class="btn btn-sm btn-outline-success">Start Quiz</a>
	                    </div>
	                    <small class="text-body-secondary">2 weeks ago</small>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col">
	        <div class="card shadow-sm">
	            <div class="card-body">
	                <h4>Chem Quiz</h4>
	                <p class="card-text">Total Questions - 10</p>
	                <p class="card-text">Challenge yourself with Chemistry questions!</p>
	                <div class="d-flex justify-content-between align-items-center">
	                    <div class="btn-group">
	                        <a href="/quiz/2/" class="btn btn-sm btn-outline-success">Start Quiz</a>
	                    </div>
	                    <small class="text-body-secondary">1 week ago</small>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col">
	        <div class="card shadow-sm">
	            <div class="card-body">
	                <h4>English Quiz</h4>
	                <p class="card-text">Total Questions - 10</p>
	                <p class="card-text">Improve your English skills!</p>
	                <div class="d-flex justify-content-between align-items-center">
	                    <div class="btn-group">
	                        <a href="/quiz/3/" class="btn btn-sm btn-outline-success">Start Quiz</a>
	                    </div>
	                    <small class="text-body-secondary">5 days ago</small>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock content %}
